---
layout: ""
page_title: "Provider: LUIS"
description: |-
  The LUIS provider is used to interact with resources in the LUIS.ai API.
---

# LUIS Provider

The LUIS provider is used to interact with resources in the LUIS.ai API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}